<div class="row">
  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-lg-offset-3 col-ls-6">
    <%= render 'datepick' %>
  </div>

  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-lg-offset-3 col-ls-6">
    <%= form_for(@diary) do |f| %>
      <%= f.submit '投稿', class: 'btn btn-primary col-xs-12' %>
      <div class="form-group">
        <%= f.text_field :summary, class: 'form-control', placeholder: "その日のトピックを入力してください", maxlength: 50 %>
        <%= f.text_area :article, class: 'form-control', placeholder: "その日の出来事を入力してください", rows: "20" %>
      </div>
    <% end %>
  </div>
</div>
