<div class="row">
  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-lg-offset-3 col-ls-6">
    <%= render 'datepick' %>
  </div>

  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-lg-offset-3 col-ls-6">
    <%= form_tag(diaries_path, method: :post, multipart: true) do %>
      <%= submit_tag '保存', { class: 'btn btn-primary col-xs-12', id: 'diary_save' } %>
      <div class="form-group" id="input_diary">
        <% current_packed_form.each do |key, value| %>
          <% if value["タイプ"] == "長文" %>
            <%= text_area_tag key, @diary.get(key), { class: 'form-control', placeholder: key, rows: "20" } %>
          <% elsif value["タイプ"] == "短文" %>
            <%= text_field_tag key, @diary.get(key), { class: 'form-control', placeholder: key, maxlength: 50 } %>
          <% else %>
            <div class="row diary_inline_input">
              <% value.each do |n_key, n_value| %>
                <%= number_field_tag n_key, @diary.get(n_key), { class: 'form-inline col-xs-3', placeholder: n_key, maxlength: 10, step: 0.01 } %>
                <span class='col-xs-3'><%= n_value["単位"] %>&nbsp;&nbsp;</span>
              <% end %>
            </div>
          <% end %>
        <% end %>
        <p class="text-right col-xs-4 col-sm-2">写真：</p>
        <%= file_field_tag 'images[]', multiple: true, class: "col-xs-8 col-sm-4" %>
      </div>
    <% end %>
  </div>
</div>
