<div class="row">
  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-lg-offset-3 col-ls-6">
    <%= render 'datepick' %>
  </div>

  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-lg-offset-3 col-ls-6">
    <%= form_tag(diaries_path, method: :post) do %>
      <%= submit_tag '保存', class: 'btn btn-primary col-xs-12' %>
      <div class="form-group">
        <% inline = 0 %>
        <% current_form.each do |key, value| %>
          <% if value["タイプ"] == "長文" %>
            <% if inline != 0 %>
              </div>
              <% inline = 0 %>
            <% end %>
            <%= text_area_tag key, @diary.get(key), { class: 'form-control', placeholder: key, rows: "20" } %>
          <% elsif value["タイプ"] == "数字" %>
            <% if inline == 0 %>
              <div class="row diary_inline_input">
            <% elsif inline == 2 %>
              </div>
              <div class="row diary_inline_input">
              <% inline = 0 %>
            <% end %>
            <% inline += 1 %>
            <%= text_field_tag key, @diary.get(key), { class: 'form-inline col-xs-3', placeholder: key, maxlength: 10 } %>
            <span class='col-xs-3'><%= value["単位"] %>&nbsp;&nbsp;</span>
          <% else %>
            <% if inline != 0 %>
              </div>
              <% inline = 0 %>
            <% end %>
            <%= text_field_tag key, @diary.get(key), { class: 'form-control', placeholder: key, maxlength: 50 } %>
          <% end %>
        <% end %>
        <% if inline != 0 %>
          </div>
          <% inline = 0 %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
