<div class="row">
  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-lg-offset-3 col-ls-6">
    <%= form_tag(diaries_path, method: :post, multipart: true) do %>
      <%= submit_tag '保存', { class: 'btn btn-primary col-xs-12', id: 'diary_save' } %>
      <div class="form-group" id="input_diary">
        <% current_packed_form.each do |key, value| %>
          <% if value["タイプ"] == "長文" %>
            <%= text_area_tag key, @diary.get(key), { class: 'form-control', placeholder: key, rows: "20" } %>
          <% elsif value["タイプ"] == "短文" %>
            <%= text_field_tag key, @diary.get(key), { class: 'form-control', placeholder: key, maxlength: 50 } %>
          <% else %>
            <div class="row diary_inline_input">
              <% value.each do |n_key, n_value| %>
                <%= number_field_tag n_key, @diary.get(n_key), { class: 'form-inline col-xs-3', placeholder: n_key, maxlength: 10, step: 0.01 } %>
                <span class='col-xs-3'><%= n_value["単位"] %>&nbsp;&nbsp;</span>
              <% end %>
            </div>
          <% end %>
        <% end %>

        <% if @diary.id && @diary.images.attached? %>
          <div class="row">
            <br />
            <p>削除するファイルにチェックをしてください</p>
            <% @diary.images.each do |image| %>
              <div class="row">
                <%= check_box_tag 'remove_images[]', image.id, false, multiple: true, class: 'form_item col-xs-1' %>
                <% if @diary.image_file?(url_for(image)) %>
                  <img src=<%= url_for(image) %> class="img-thumbnail form-inline col-xs-11" alt="image">
                <% else %>
                  <div id="file_name form-inline col-xs-11"><%= File.basename(url_for(image)) %></div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>

        <div class="row" id="append_picture">
          <p class="text-right col-xs-4 col-sm-3">ファイル添付</p>
          <%= file_field_tag 'images[]', multiple: true, class: "col-xs-8 col-sm-4" %>
        </div>

        <div class="row" id="date_select">
          <div class="text-left col-xs-4 col-sm-3">
            &nbsp;&nbsp;日付:
          </div>
          <div class="col">
            <input id="date_get" type="date" name="date_input" value=<%= session[:picked_date] %> class="pull-center" />
          </div>
        </div>
      </div>
      <%= submit_tag '保存', { class: 'btn btn-primary col-xs-12', id: 'diary_save_bottom' } %>
    <% end %>
  </div>
</div>
