<% if session[:search_keyword] %>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="col-xs-7 col-sm-3 col-ls-1">日付</th>
          <th scope="col"><%= first_key_of_current_form %></th>
        </tr>
      </thead>
      <tbody>
        <% @diaries.each do |diary| %>
          <tr>
            <td class="col-xs-7 col-sm-3 col-ls-1"><%= link_to date_to_string(diary[:date_of_diary]), diary_path(id: diary.id) %></td>
            <td><%= diary.get(first_key_of_current_form) %></td>
          </tr>
        <% end %>
        <% session[:search_keyword] = nil %>
      </tbody>
    </table>
  </div>

<% else %>
  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-lg-offset-3 col-ls-6">
      <%= render 'datepick' %>
    </div>
  </div>

  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-lg-offset-3 col-ls-6">
    <% inline = 0 %>
    <% current_form.each do |key, value| %>

      <% if value["文字数"].to_i == DiaryForm::SIZE_OF_AREA %>
        <% if inline != 0 %>
          </div>
          <% if (inline < 12) %>
            <BR />
          <% end %>
          <HR />
          <% inline = 0 %>
        <% end %>
        <h4><%= key %></h4>
        <% if @diary.get(key) %>
          <% @diary.get(key).each_line do |line| %>
            <% count_leading_blank(line).times do %>
              &nbsp;
            <% end %>
            <%= line %><BR>
          <% end %>
        <% end %>
      <% elsif value["単位"] != "" %>
        <% if inline == 0 %>
          <div>
        <% end %>
        <% inline += 4 %>
        <% inline = 4 if inline >= 12 %>
        <span class="col-xs-4"><%= key %>：&nbsp;<%= @diary.get(key) %>&nbsp;<%= value["単位"] %></span>
      <% else %>
        <% if inline != 0 %>
          </div>
          <% if (inline < 12) %>
            <BR />
          <% end %>
          <HR />
          <% inline = 0 %>
        <% end %>
        <h4><%= key %></h4>
        <%= @diary.get(key) %>
      <% end %>

      <% if inline == 0 %>
        <HR />
      <% end %>
    <% end %>
    <% if inline != 0 %>
      <HR />
    <% end %>

    <% if @diary[:id] %>
      <div class="row">
        <br class="col-xs-12">
        <%= link_to '修正', edit_diary_path(@diary), class: 'btn btn-primary col-xs-2 col-sm-2 col-ls-1' %>
        <%= link_to '削除', @diary, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger col-xs-2 col-sm-2 col-ls-1' %>
      </div>
    <% end %>
  </div>
<% end %>
