<% if session[:search_keyword] %>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="col-xs-7 col-sm-3 col-ls-1">日付</th>
          <th scope="col">トピック</th>
        </tr>
      </thead>
      <tbody>
        <% @diaries.each do |diary| %>
          <tr>
            <td class="col-xs-7 col-sm-3 col-ls-1"><%= link_to date_to_string(diary[:date_of_diary]), diary_path(id: diary.id) %></td>
            <td><%= diary.get("トピック") %></td>
          </tr>
        <% end %>
        <% session[:search_keyword] = nil %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-lg-offset-3 col-ls-6">
      <%= render 'datepick' %>
    </div>
  </div>

  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-lg-offset-3 col-ls-6">
    <h4>トピック</h4>
    <%= @diary.get("トピック") %>
    <HR>
    <h4>本文</h4>
    <% if @diary.get("本文") %>
      <% @diary.get("本文").each_line do |line| %>
        <% count_leading_blank(line).times do %>
          &nbsp;
        <% end %>
        <%= line %><BR>
      <% end %>
    <% end %>
    <% if @diary[:id] %>
      <div class="row">
        <br class="col-xs-12">
        <%= link_to '修正', edit_diary_path(@diary), class: 'btn btn-primary col-xs-2 col-sm-2 col-ls-1' %>
        <%= link_to '削除', @diary, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger col-xs-2 col-sm-2 col-ls-1' %>
      </div>
    <% end %>
  </div>
<% end %>
