  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-lg-offset-3 col-ls-6">
      <%= render 'datepick' %>
    </div>
  </div>

  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-lg-offset-3 col-ls-6">
    <% inline = false %>
    <% current_form.each do |key, value| %>

      <% if value["タイプ"] == "長文" %>
        <% if inline %>
          </div>
          <HR />
          <% inline = false %>
        <% end %>
        <h4><%= key %></h4>
        <% if @diary.get(key) %>
          <% @diary.get(key).each_line do |line| %>
            <% count_leading_blank(line).times do %>
              &nbsp;
            <% end %>
            <%= line %><BR>
          <% end %>
        <% end %>
      <% elsif value["タイプ"] == "数字" %>
        <% if !inline %>
          <div class="row">
          <% inline = true %>
        <% end %>
        <span class="col-xs-12 col-sm-6"><%= key %>：&nbsp;<%= @diary.get(key) %>&nbsp;<%= value["単位"] %></span>
      <% else %>
        <% if inline %>
          </div>
          <HR />
          <% inline = false %>
        <% end %>
        <h4><%= key %></h4>
        <%= @diary.get(key) %>
      <% end %>
      <% if !inline %>
        <HR />
      <% end %>
    <% end %>
    <% if inline %>
      </div>
      <HR />
    <% end %>

    <% if @diary[:id] %>
      <div class="row">
        <br class="col-xs-12">
        <%= link_to '修正', edit_diary_path(@diary), class: 'btn btn-primary col-xs-2 col-sm-2 col-ls-1' %>
        <%= link_to '削除', @diary, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger col-xs-2 col-sm-2 col-ls-1' %>
      </div>
    <% end %>
  </div>
