  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-lg-offset-3 col-ls-6">
      <%= render 'datepick' %>
    </div>
  </div>

  <% @diaries.each do |diary| %>
    <div class="row">
      <div class="col-xs-12 col-sm-offset-1 col-sm-8 col-lg-offset-2 col-ls-6">
        <HR />
      </div>
      <div class="col-xs-12 col-sm-offset-1 col-sm-8 col-lg-offset-2 col-ls-6">
        <% if diary.id %>
          <%= link_to date_to_string(diary[:date_of_diary]), diary_path(id: diary.id) %>
        <% else %>
          <p><%= date_to_string(diary[:date_of_diary]) %></p>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-lg-offset-3 col-ls-6">
        <% inline = false %>
        <% current_form.each do |key, value| %>

          <% if value["タイプ"] == "長文" %>
            <% if inline %>
              </div>
              <BR />
              <% inline = false %>
            <% end %>
            <% if diary.get(key) %>
              <% diary.get(key).each_line do |line| %>
                <% count_leading_blank(line).times do %>
                  &nbsp;
                <% end %>
                <%= line %><BR>
              <% end %>
            <% end %>
          <% elsif value["タイプ"] == "数字" %>
            <% if !inline %>
              <div class="row">
              <% inline = true %>
            <% end %>
            <span class="col-xs-12 col-sm-6"><%= key %>：&nbsp;<%= diary.get(key) %>&nbsp;<%= value["単位"] %></span>
          <% else %>
            <% if inline %>
              </div>
              <BR />
              <% inline = false %>
            <% end %>
            <%= diary.get(key) %>
          <% end %>
          <% if !inline %>
            <BR />
          <% end %>
        <% end %>
        <% if inline %>
          </div>
          <BR />
        <% end %>
      </div>
      <BR />
    </div>
  <% end %>
