<% if (session[session_sym(:view_mode)] != 'show_search'&& !memo_mode?) %>
  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-lg-offset-3 col-ls-6">
      <%= render 'datepick' %>
    </div>
  </div>
<% end %>

<% case (session[session_sym(:view_mode)]) %>
<% when 'show_day' %>
  <%= render 'show_day' %>
<% when 'show_week' %>
  <%= render 'show_several_diaries' %>
  <%= render 'show_graph' %>
<% when 'show_month' %>
  <%= render 'show_diaries' %>
  <%= render 'show_graph' %>
<% when 'show_year' %>
  <%= render 'show_diaries' %>
  <%= render 'show_graph' %>
<% when 'show_3years', 'show_5years', 'show_10years' %>
  <%= render 'show_several_diaries' %>
<% when 'show_search' %>
  <div class="row">
    <%= form_tag(show_diary_path, method: :get) do %>
      <%= text_field_tag :search , '', { class: 'form-inline col-xs-7 col-xs-offset-1', placeholder: "検索キーワード" } %>
      <%= submit_tag '絞込検索', class: 'btn btn-primary col-xs-3 col-xs-offset-1 col-sm-2' %>
    <% end %>
  </div>
  <%= render 'show_diaries' %>
<% when 'show_search_all' %>
  <%= render 'show_several_diaries' %>
<% end %>
