<div id="top">
  <p>Simple Diaryの使い方を説明します。</p>
  <BR>
  <p>その日の<a href="#input">トピックと本文を入力</a>します。
    体重や血圧など、<a href="#show_with_weight">書きたい項目を自由に追加する</a>ことも可能です。
    また、<a href="#search_diary">キーワードで見たい日記を探す</a>ことができます。</p>
  <BR />
  <h5>「日記の表示」</h5>
  <p><img src="/images/show_diary.png" class="img-responsive example-img" alt="日記の表示"></p>
  <p>「修正」ボタンで、日記の修正ができます。「削除」ボタンで、日記を削除します。</p>
  <p>見たい日記の日付を変更するには、上部の日付の欄をクリックして、カレンダーを表示させて、見たい日を選択します。
  前の日の日記を見たい場合は、上部の左側の▲をクリックします。次の日の日記を見たい場合は、右側の▲をクリックします。</p>
  <p><%= link_to '日記の表示へ', diaries_path %></a>
  <BR />
  <BR />
  <h5 id="input">「日記の入力」</h5>
  <p><img src="/images/input_diary.png" class="img-responsive example-img" alt="日記の入力"></p>
  <p>トピックと本文を入力して、「保存」ボタンを押します。忙しいときはトピックだけでも入力しましょう。</p>
  <p><%= link_to '日記の入力へ', new_diary_path %></a>
  <BR />
  <BR />
  <h5 id="show_with_weight">「体重の入力を追加」</h5>
  <p><img src="/images/show_diary_with_weight.png" class="img-responsive example-img" alt="体重の入力を追加"></p>
  <p>体重と、血圧の入力を追加した時の画面です。項目の追加は<a href="#go_to_my_page">マイページ</a>より行うことができます。</p>
  <p><%= link_to '日記の表示へ', diaries_path %></a>
  <BR />
  <BR />
  <h5 id="go_to_my_page">「マイページへの移動」</h5>
  <p><img src="/images/go_to_mypage.png" class="img-responsive example-img" alt="マイページへの移動"></p>
  <p>右上のユーザ名の表示から、<a href="#my_page">マイページ</a>へ移動できます。</p>
  <BR />
  <BR />
  <h5 id="my_page">「マイページ」</h5>
  <p><img src="/images/user_profile.png" class="img-responsive example-img" alt="マイページ"></p>
  <p>ユーザ情報の「修正」ボタンで、ユーザ名またはemailを変更できます。</p>
  <p><%= link_to 'ユーザ情報・日記情報の表示へ', user_path(current_user) %></p>
  <p>日記情報の「修正」ボタンで、<a href="#update_diary_form">入力する項目を変更する</a>ことができます。</p>
  <p><%= link_to '日記情報の修正へ', edit_diary_form_path(current_diary_form) %></p>
  <BR />
  <BR />
  <h5 id="update_diary_form"> 「日記情報の修正」</h5>
  <p><img src="/images/update_diary_form.png" class="img-responsive example-img" alt="日記情報の修正"></p>
  <p>左のチェックボックスにチェックを入れて、「追加」ボタンを押すと、その直前に項目欄が追加されます。
     チェックされた項目がない場合は、最後に追加されます。
     項目欄に入力をして、「保存」ボタンを押してください。</p>
  <p>※ 一旦保存をしないと、「上」「下」「削除」はできません。</p>
  <p>「上」ボタンでチェックされた項目を上に移動します</p>
  <p>「下」ボタンでチェックされた項目を下に移動します</p>
  <p>「削除」ボタンでチェックされた項目を削除します</p>
  <p>最後に「保存」ボタンを押して、日記情報の修正がされます。</p>
  <p>※ 「保存」ボタンを押さなくても、修正の途中結果は保存されています。</p>
  <p><%= link_to '日記情報の修正へ', edit_diary_form_path(current_diary_form) %></p>
  <p><%= link_to '日記の表示へ', diaries_path %></a>
  <BR />
  <BR />
  <h5 id="search_diary"> 「日記の検索の結果画面」</h5>
  <p><img src="/images/search_diary.png" class="img-responsive example-img" alt="日記の検索"></p>
  <p>上部の「検索キーワード」と書かれたボックスに検索キーワードを入力し、「検索」ボタンを押すと、この画面になります。</p>
  <p>日記の日付をクリックすると、その日の日記の表示となります。</p>
  <p><%= link_to '日記の表示へ', diaries_path %></a>
  <BR />
  <BR />
</div>
