<header>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main-menu" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Simple Diary</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-main-menu">
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to '日記の入力', new_diary_path, id: "new_diary" %></li>
          <li class="dropdown" id="show_diary" >
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              日記の表示
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to '一日', show_diary_path(view_mode: "show_day") %></li>
              <li><%= link_to '一週間', show_diary_path(view_mode: "show_week") %></li>
              <li><%= link_to '一ヶ月', show_diary_path(view_mode: "show_month") %></li>
              <li><%= link_to '三年', show_diary_path(view_mode: "show_3years") %></li>
              <li><%= link_to '五年', show_diary_path(view_mode: "show_5years") %></li>
              <li><%= link_to '十年', show_diary_path(view_mode: "show_10years") %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to '検索結果', show_diary_path(view_mode: "show_search") %></li>
            </ul>
          </li>
          <form class="navbar-form navbar-left" role="search">
            <%= simple_form_for :diary, :url => diaries_path, :method => :get do %>
              <%= text_field_tag :search, '', placeholder: "検索キーワード" %>
              <%= submit_tag '検索', { class:'btn btn-default', id: 'search_diary' } %>
            <% end %>
          </form>

          <li class="dropdown" id="user_profile">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <%= current_user[:name] %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to 'マイページ', user_path(current_user) %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to '新規登録', signup_path %></li>
          <li><%= link_to 'ログイン', login_path %></li>
        <% end %>
      </ul>
      </div>
    </div>
  </nav>
</header>
