<header>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main-menu" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Simple Diary</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-main-menu">
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to '日記の入力', new_diary_path %></li>
          <li><%= link_to '日記の表示', diaries_path %></li>
          <form class="navbar-form navbar-left" role="search">
            <%= simple_form_for(diaries_url, method: :get) do %>
              <%= text_field_tag :search, params[:search], placeholder: "検索キーワード" %>
              <%= submit_tag '検索', class:'btn btn-default' %>
            <% end %>
          </form>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <%= current_user[:name] %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">マイページ</a></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to '新規登録', signup_path %></li>
          <li><%= link_to 'ログイン', login_path %></li>
        <% end %>
      </ul>
      </div>
    </div>
  </nav>
</header>
